# shared
node_modules
dist
build
coverage
*.log
.env
.env.local
.env.*.local
!.env.example

# infra
.DS_Store

# service-specific
api/node_modules
api/dist
web/node_modules
web/dist
supabase/.branches
supabase/.temp

# IDE
.vscode/*
!.vscode/extensions.json
.idea
