@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: #F8F9FA;
    color: #111827;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'tnum';
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
